.title{
    color: green;
}
nav{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul li{
    display: inline;
    margin-right: 20px;
    
}
a{
    text-decoration: none;
    color: black;
}